.home {
  padding: 50px 0;
}

.home__title {
  margin-bottom: 25px;
}

.home__cards-container {
  display: flex;
  grid-gap: 25px;
  flex-wrap: wrap;
    justify-content: center;
}

.home__card {
  width: 300px;
  box-shadow: var(--box-shadow);
}

.home__card-img {
  height: 400px;
  object-fit: cover;
}

.home__card-info {
  padding: 10px;
}

.home__card-title {
  margin-bottom: 5px;
}